<ion-segment>
  <ion-segment-button (click)="gotoHome()" checked>
    <ion-label>Home</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-segment-button>
  <ion-segment-button (click)="gotoFav()">
    <ion-label>Wallet</ion-label>
    <ion-icon name="wallet"></ion-icon>
  </ion-segment-button>
  <ion-segment-button (click)="gotoMyOrders()">
    <ion-label wrap="soft">My Orders</ion-label>
    <ion-icon name="restaurant"></ion-icon>
  </ion-segment-button>
  <ion-segment-button (click)="gotoProf()">
    <ion-label>Profile</ion-label>
    <ion-icon name="person"></ion-icon>
  </ion-segment-button>
</ion-segment>
