ion-header {
    
    ion-toolbar{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        --background: lightgray;
    }

}

.ion-text-center
{
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: lightgray;
}