<ion-header >
  <ion-toolbar >
    
    <ion-title no-padding>
            
          <h2 no-padding>
              <ion-icon name="restaurant"></ion-icon>{{name}}
            <h4 no-padding>{{address}}</h4>
          </h2>
   
    </ion-title>
  </ion-toolbar>
</ion-header>


<!-- restaurant image, info.,address, horizontal scroll of bestselling food items,
  clickable reservation and menu buttons -->

<ion-content>
  <ion-img *ngIf="RestaurantData" src="data:image/jpeg;base64,{{RestaurantData[0].RImg}}"></ion-img>

    <div class="ratingBar">
      <h3>
        &nbsp;
        <ion-icon name="create" (click)="viewReviews()"></ion-icon>
        &nbsp;
          <u>User Ratings and Reviews:</u> &nbsp; {{rating}}/5
        <ion-icon name="star" ></ion-icon> 
      </h3>
    </div>


  <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-button expand="full" color="tertiary" (click)="goToMenu()">
              <ion-icon slot="start" name="restaurant"></ion-icon>
              Place Order
            
          </ion-button>
        </ion-col>
        <ion-col col-6>
            <ion-button expand="full" color="primary" (click)="booktable()">
                <ion-icon slot="end" name="wine"></ion-icon>
                Book a Table
              
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


  <h1 padding>Bestsellers</h1>
  <ion-slides [options]="sliderOpts">
    <ion-slide *ngFor="let img of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
      <ion-card>
        <img src="../../assets/foodItems/i{{img}}.jpg">
      </ion-card>
    </ion-slide>
  </ion-slides>




</ion-content>
