<ion-header>
  <ion-toolbar>
    <ion-title >title1</ion-title>
      <!-- <h2>{{restDetails.RName}}</h2> -->
      <!-- <h4>{{restDetails.RAddress}}</h4> -->
    <!-- </ion-title> -->
  </ion-toolbar>
</ion-header>


<!-- restaurant image, info.,address, horizontal scroll of bestselling food items,
  clickable reservation and menu buttons -->

  <ion-content >
      <ion-img src=""></ion-img>
      <p>
      Description.Description.Description.Description.Description.Description.Description.Description.Description.
    </p>
      <div padding>
          <ion-button size="default" color="tertiary" (click)="goToMenu()">
              <ion-icon slot="start" name="restaurant" ></ion-icon>
              Place Order
            </ion-button>
              
            <ion-button size="default" >
                
              <ion-icon slot="end" name="wine" ></ion-icon>
              Book a Table
            </ion-button>
          </div>
      <div>
      <h1>Bestsellers</h1>    
       <ion-slides [options]="sliderOpts"> 
          <ion-slide *ngFor = "let n of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
            <ion-card>
              <img src="../../assets/i{{n}}.jpg" >
          </ion-card>
          </ion-slide>
      </ion-slides> 
    </div>


  </ion-content>

  
  

  
