ion-slides {
    background: #141414;
    resize: 30%;

    img {
        height: 150px;
        width: 300px;
    }
}

h1 {
    font-family: fantasy;
    background: #141414;
    text-align: center;
    color: rgb(109, 94, 94);
}

ion-button {

}