<ion-header>
  <ion-card>
  <ion-toolbar>
    <ion-card-title>PROFILE</ion-card-title>
  </ion-toolbar>
</ion-card>
</ion-header>

<ion-content >
    <ion-card-content>
        <ion-item>
            <img src="../../assets/icon/profile.png" style="height:100px; width:100px; margin-bottom: 40px;" no-padding>  
          </ion-item>
          
        <ion-item color="success" style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold" >
           NAME: &nbsp; {{userName}}
          </ion-item>
          <ion-item color="primary" style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold"  >
             EMAIL: &nbsp; {{userEmail}}
            </ion-item>
           
      </ion-card-content>
  <ion-card >
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label padding color="primarys">
            Reset Password
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Enter Old Password" type="password" [(ngModel)]="registerdata.opassword"></ion-input>
        </ion-item>
       <ion-item>
          <ion-input placeholder="Enter New Password" type="password" [(ngModel)]="registerdata.npassword"></ion-input>
        </ion-item>
        
    <ion-button expand="block" (click)="Register()" shape="round">Change Password</ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
  </ion-content>