<ion-card>
      <ion-card-content>
  <ion-input type="email" placeholder="Email" position="floating" padding></ion-input>

  <ion-input type="password" placeholder="Password" padding></ion-input>

     <ion-button expand="block" (click)="userLogin()" shape="round">Login</ion-button>
     <ion-button expand="block" (click)="gotoRegister1()" color="light" shape="round">Register</ion-button>

     <ion-item href="redirect somewhere" >
      <a>Forgot Your Password?</a>
    </ion-item>
  </ion-card-content>
</ion-card>

