<ion-header>
  <ion-toolbar>
    <ion-title>Food Menu</ion-title>
    <!-- <ion-buttons>
      <ion-button slot="end">
        <ion-icon slot="icon-only" name="close" *ngIf="automaticClose"></ion-icon>
        <ion-icon slot="icon-only" name="resize" *ngIf="!automaticClose"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
 </ion-header>

<!-- <ion-content >
  <ion-list *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]" class="accordion-list" lines="none" detail="false" no-padding>
    <ion-item tappable (click)="toggleSection(i)" >
      <ion-icon slot="start" name="arrow-forward" ></ion-icon>
      <ion-icon slot="start" name="arrow-down" ></ion-icon>
      <ion-label>
        {{i}}
      </ion-label>
    </ion-item>
    
    <div>
      <ion-list *ngFor="let j of [1, 2, 3, 4]" lines="none" class="child-list">
          <ion-item tappable (click)="toggleItem(i,j)" >
              <ion-icon slot="start" name="arrow-forward" ></ion-icon>
              <ion-icon slot="start" name="arrow-down" ></ion-icon>
              <ion-label>
                {{j}}
              </ion-label>
            </ion-item>
      </ion-list>
    </div>

  </ion-list>

</ion-content> -->
<ion-content >
  <div scrollx=true direction="x">
    <ion-col class="fixed">
      <ion-card  *ngFor = "let eachRest of food_data">
          <ion-card-title padding>{{eachRest.Name}}</ion-card-title>
          <ion-img src="data:image/jpeg;base64,{{eachRest.Fimage}}"></ion-img>
      </ion-card>
    </ion-col>
  </div>
</ion-content>
