ion-content {
    --background: var(--ion-color-light);
}

.accordion-list{
    margin-bottom: 4px;
    --ion-item-background: #fff;
}

ion-header {
    

    ion-title{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        background-image: linear-gradient(to right,red, yellow);
    }

}