<ion-header>
  Order ID: {{passed_id}}
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          Item
        </div>
      </ion-col>
      <ion-col>
        <div>
          Quantity
        </div>
      </ion-col>
      <ion-col>
        <div>
          Price
        </div>
      </ion-col>
      <ion-col>
        <div>
          Total
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let eachOrder of unique_Order">
      <ion-col>
        <div>
          {{ eachOrder.name}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{eachOrder.qty}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{eachOrder.price}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{eachOrder.total}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <strong>Total Bill:{{bill}}</strong>


</ion-content>