<ion-header>
  <ion-toolbar>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          Item
        </div>
      </ion-col>
      <ion-col>
        <div>
          Quantity
        </div>
      </ion-col>
      <ion-col>
        <div>
          Price
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let eachOrder of currentOrder">
      <ion-col>
        <div>
          {{ eachOrder.Name}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{eachOrder.qty}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{eachOrder.price}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h2>
    Total : {{total}}
  </h2>
  <h1>
    Pay By Cash
  </h1>
  <h1>
    Pay Using UPI
  </h1>
  <h1>Pay Using Wallet</h1>

</ion-content>