ion-header {
    

    ion-title{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        //background-image: linear-gradient(to right,red, yellow);
        background-color: lightgray;
    
    }
}