
<ion-item class="child-item" text-wrap detail="false" lines="none">
  <ion-row no-padding align-items-center>
    <ion-col size="9">
      <ion-row no-padding>
        <ion-col size="12">
          <h3>Item Name </h3>
        </ion-col>
        <ion-col>
          <p text-lowercase color="medium">Ingredients.Ingredients.Ingredients.Ingredients.Ingredients.</p>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="3" text-right>
      <ion-button fill="outline"></ion-button>
    </ion-col>
  </ion-row>
</ion-item>
